body {
  font-family: Arial, sans-serif;
  background-color: #61210F;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.quote-box {
  background-color: #ccaf76;
  color: #61210F;
  position: relative;
  margin: 20px;
  padding: 30px;
  height: 70vh;
  width: 420px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 70px #ccaf76 ;
}

#quote {
  font-size: 20px;
  margin-top: 20px ;
  margin-bottom: 20px;
  color: #61210F;
}

#author {
  display: block;
  font-style: italic;
  color: #61210F;
  margin-bottom: 20px;
}

.quote-box input{
    background-color: #61210F;
    color: #ccaf76;
    width: 205px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 30px #61210F;     
    margin: 20px 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.4s;
}

::placeholder{
  color: #ccaf76;
  opacity: 1;
}

#moodInput:hover{
  transform: scale(1.2);
  opacity: 1.2;
  border: none;
}

button {
  background: #61210F;
  color: #ccaf76;
  border: none;
  margin: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 30px #61210F;
  cursor: pointer;
  transition: 0.4s;
}

button:hover{
  transform: scale(1.2);
}


